h1{
    color: green;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
}
h2{
    color: #2296c7;
    font-family: Helvetica, sans-serif;
    text-align: right;
}
p{
    color: coral;
    font-weight: 800;
    font-family: fantasy;
    text-decoration: line-through;
}
ul{
    list-style-type: square;
}
ol{
    list-style-type: upper-roman;
}
 #menu-bar a{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px;
}
 #menu-bar a:hover{
    background-color: aqua;
    color: #ffffffff;

}